/Latihan Praktikum/Pertemuan2/Bank/Bank/nbproject/private/
/Latihan Praktikum/Pertemuan2/Bank/Bank/build/
/Latihan Praktikum/Pertemuan1/Migration/MigrationToJava/nbproject/private/
/Latihan Praktikum/Pertemuan1/Migration/MigrationToJava/build/
/Latihan Otodidak/PBO Java Kelas Terbuka/5.Reference Object/Reference/nbproject/private/
/Latihan Otodidak/PBO Java Kelas Terbuka/5.Reference Object/Reference/build/
/Latihan Otodidak/PBO Java Kelas Terbuka/6.Public and Private/Main/nbproject/private/
/Latihan Otodidak/PBO Java Kelas Terbuka/6.Public and Private/Main/build/
/Latihan Otodidak/PBO Java Kelas Terbuka/7.Getter dan Setter/Main/nbproject/private/
/Latihan Otodidak/PBO Java Kelas Terbuka/7.Getter dan Setter/Main/build/
/Latihan Praktikum/Pertemuan3/Static/nbproject/private/
/Tugas1PBO/Tugas2/nbproject/private/
/Tugas2/nbproject/private/
/Tugas2PBO/Tugas2/build/