/Latihan Praktikum/Pertemuan2/Bank/Bank/nbproject/private/
/Latihan Praktikum/Pertemuan2/Bank/Bank/build/
/Latihan Praktikum/Pertemuan1/Migration/MigrationToJava/nbproject/private/
/Latihan Praktikum/Pertemuan1/Migration/MigrationToJava/build/
/Latihan Otodidak/PBO Java Kelas Terbuka/5.Reference Object/Reference/nbproject/private/
/Latihan Otodidak/PBO Java Kelas Terbuka/5.Reference Object/Reference/build/
/Latihan Otodidak/PBO Java Kelas Terbuka/6.Public and Private/Main/nbproject/private/
/Latihan Otodidak/PBO Java Kelas Terbuka/6.Public and Private/Main/build/
/Latihan Otodidak/PBO Java Kelas Terbuka/7.Getter dan Setter/Main/nbproject/private/
/Latihan Otodidak/PBO Java Kelas Terbuka/7.Getter dan Setter/Main/build/
/Latihan Praktikum/Pertemuan3/Static/nbproject/private/
/Tugas1PBO/Tugas2/nbproject/private/
/Tugas2/nbproject/private/
/Tugas2PBO/Tugas2/build/
/Tugas2PBO/Tugas2/nbproject/private/
/Latihan Praktikum/Pertemuan4/Abstract/nbproject/private/
/Latihan Praktikum/Pertemuan4/Abstract/build/
/Latihan Praktikum/Pertemuan4/Bebek/nbproject/private/
/Latihan Praktikum/Pertemuan4/Bebek/build/
/Tugas3PBO/Tugas3/Bebek/build/
/Tugas3PBO/Tugas3/Bebek/nbproject/private/
/Latihan Otodidak/Java Dasar/Exception/Exception/nbproject/private/
/Latihan Otodidak/Java Dasar/Exception/Exception/build/
/Latihan Otodidak/Java Dasar/Exception/Latihan/LatException/nbproject/private/
/Latihan Otodidak/Java Dasar/Exception/Latihan/LatException/build/
/Latihan Otodidak/Java Dasar/Exception/Latihan/LatException2/nbproject/private/
/Latihan Otodidak/Java Dasar/Exception/Latihan/LatException2/build/
/Latihan Praktikum/Pertemuan5/LatihanException/nbproject/private/
/Latihan Praktikum/Pertemuan5/LatihanException/build/
/Latihan Praktikum/Pertemuan5/LatihanException/dist/
/Latihan Praktikum/Pertemuan5/LatihanDenganException/nbproject/private/
/Latihan Praktikum/Pertemuan5/LatihanDenganException/build/
/Latihan Praktikum/Pertemuan5/MultipleCatch/nbproject/private/
/Latihan Praktikum/Pertemuan5/MultipleCatch/build/
/Latihan Praktikum/Pertemuan5/MultipleCatch/dist/
/Latihan Praktikum/Pertemuan5/Swing/nbproject/private/
/Latihan Praktikum/Pertemuan5/Swing/build/
/Quis1PBO/GUI-1/nbproject/private/
/Quis1PBO/GUI-1/build/
/Latihan Praktikum/Pertemuan6/MVC/nbproject/private/
/Latihan Praktikum/Pertemuan6/MVC/build/
/Latihan Otodidak/PBO Java Otodidak/MembuatTeksBerjalan/Latihan/nbproject/private/
/Latihan Otodidak/PBO Java Otodidak/MembuatTeksBerjalan/Latihan/build/
/Latihan Otodidak/PBO Java Otodidak/Latihan UTS/lat1/nbproject/private/
/Latihan Otodidak/PBO Java Otodidak/Latihan UTS/lat1/build/
/Tugas4PBO/JavaApplication46/nbproject/private/
/Latihan Praktikum/Pertemuan7/KoneksidDB/nbproject/private/
/Latihan Praktikum/Pertemuan7/KoneksidDB/build/
/Tugas4PBO/KoneksiDB/nbproject/private/
/Tugas4PBO/KoneksiDB/build/
/Latihan Otodidak/PBO Java Otodidak/LatihanJavaDB/LatihanJavaDatabase/nbproject/private/
/Tugas5PBO/koneksidatabase/koneksidatabase/build/
/Tugas5PBO/koneksidatabase/koneksidatabase/dist/
/Tugas5PBO/koneksidatabase/koneksidatabase/nbproject/private/
/Tugas6PBO/ContactList/JavaApplication50/nbproject/private/
/Tugas6PBO/ContactList/JavaApplication50/build/
/Tugas6PBO/ContactList/Coba/nbproject/private/
/Tugas6PBO/ContactList/Coba/build/