/Latihan Praktikum/Pertemuan2/Bank/Bank/nbproject/private/
/Latihan Praktikum/Pertemuan2/Bank/Bank/build/
/Latihan Praktikum/Pertemuan1/Migration/MigrationToJava/nbproject/private/
/Latihan Praktikum/Pertemuan1/Migration/MigrationToJava/build/